@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-VariableFont_opsz\,wght.woff2') format("woff2-variations");
    font-weight: 100 1000;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('./fonts/gothampro.woff2') format('woff2'),
         url('./fonts/gothampro_bold.woff2') format('woff2');
    font-weight: 400, 600;  
    font-display: swap;
    font-optical-sizing: auto;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

p {
    margin: 0;
    font-optical-sizing: none;
}

h1 {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    font-optical-sizing: none;

    color: #FFFFFF;
}

h2 {
    margin: 0;
    font-optical-sizing: none;
        
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 110%;

    color: #FFFFFF;
}

h3 {
    margin: 0;
    font-optical-sizing: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 110%;

    color: #FFFFFF;
}

h4 {
    margin: 0;
    font-optical-sizing: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;

    color: #FFFFFF;

}

h5 {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 110%;
    font-optical-sizing: none;

    color: #FFFFFF;
}

h6 {
    margin: 0;
    font-optical-sizing: none;
}


.header {
    position: relative;
    width: calc(100% - 260px);
    height: calc(700px - 31px);

    background-color: #0E243A;

    display: flex;
    flex-direction: column;
    padding: 31px 130px 0px 130px;
    overflow: hidden;
    gap: 36px;
}

.header__navigation-wrapper {
    position: relative;
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo {
    position: relative;
    width: 209px;
    height: 33px;
    margin-top: 3px;
}

.header__buttons-wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 58px;
}

.header__navigation {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.navigation__link {
    position: relative;
    width: fit-content;
    height: fit-content;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 1;

    color: #FFFFFF;
    transition: color 0.25s ease-in-out;
}

.navigation__link:hover {
    color: #50E965;
    transition: color 0.25s ease-in-out;
}

.navigation__link:active {
    color: #50E965;
    transition: color 0.25s ease-in-out;
}

.transparent-button {
    position: relative;
    width: 193px;
    height: 46px;

    background-color: transparent;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    outline: none;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-in-out;
}

.transparent-button:hover {
    background-color: #FFFFFF;
    transition: all 0.25s ease-in-out;

    .transparent-button__text {
        color: #0E243A;
        transition: all 0.25s ease-in-out;
    }
}

.transparent-button:active {
    background-color: #FFFFFF;
    transition: all 0.25s ease-in-out;

    .transparent-button__text {
        color: #0E243A;
        transition: all 0.25s ease-in-out;
    }
}

.transparent-button__text {
    position: relative;
    width: fit-content;
    height: fit-content;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 1;

    color: #FFFFFF;
    transition: all 0.25s ease-in-out;
}

.header-request-button {
    margin-right: 6px;
}

.header__hero-wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between  ;
}

.header__hero-text-wrapper {
    position: relative;
    width: 522px;
    height: fit-content;
    margin-top: 120px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
}

.header__title {
    position: relative;
    width: 645px;
    height: fit-content;
}

.header__title-color-accent {
    color: #39B54A;
}

.header__text {
    position: relative;
    width: 510px;
    height: fit-content;
    font-weight: 300;
    line-height: 150%;
}

.green-button {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 35px;
    gap: 10px;

    width: 183px;
    height: 46px;

    background-color: #39B54A;
    border-radius: 10px;
    outline: none;
    border: none;
    transition: background-color 0.25s ease-in-out;
}

.green-button:hover {
    background-color: #24A135;
    transition: background-color 0.25s ease-in-out;
}

.green-button:active {
    background-color: #24A135;
    transition: background-color 0.25s ease-in-out;
}

.green-button__text {
    position: relative;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 1;

    color: #FFFFFF;
}

.know-more-button {
    margin-top: 8px;
}

.header__main-image {
    position: relative;
    width: 526px;
    height: 500px;
}

.header__burger-menu {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    z-index: 5;
    transition: all 0.15s ease-in-out;
}

.header__mobile-main-image {
    display: none;
    position: relative;
    width: 300px;
    height: auto;
}

.header__burger-menu-icon {
    transition: all 0.15s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 4px;
}

.burger-menu-icon__line {
    position: relative;
    width: 30px;
    height: 4px;
    border-radius: 80px;
    background-color: #FFFFFF;
    transition: all 0.15s ease-in-out;
}

#burger-menu-icon-line-1 {
    width: 22px;
}

#burger-menu-icon-line-3 {
    transition: all 0.15s ease-in-out;
}

.line-hover-active {
    width: 30px !important;
}

.line-deactive {
    display: none !important;
}

.burger-menu {
    position: fixed;
    width: calc(300px - 60px);
    height: calc(100% - 28px);
    right: -300px;
    background-color: #0E243A;
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 28px 30px 0px 30px;

    transition: all 0.25s ease-in-out;
}

.icon-menu-opened {

    #burger-menu-icon-line-1 {
        position: absolute;
        background-color: #39B54A;
        width: 24px;
        transform: rotate(45deg);
    }

    #burger-menu-icon-line-2 {
        position: absolute;
        background-color: #39B54A;
        transform: rotate(-45deg);
    }

    #burger-menu-icon-line-3 {
        opacity: 0;
        transition: all 0.15s ease-in-out;
    }
}

.blackout {
    display: none;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.burger-menu__navigation-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.burger-menu__navigation {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 110%;

    color: #FFFFFF;
    transition: color 0.25s ease-in-out;
}

.burger-menu__navigation:hover {
    color: #39B54A;
    transition: color 0.25s ease-in-out;
}

.burger-menu__navigation:active {
    color: #39B54A;
    transition: color 0.25s ease-in-out;
}

.mobile-request-button {
    width: 240px;
    margin-top: 80px;
}

.mobile-header-logo {
    width: 168px;
    height: 26px;
    margin-top: 0px;
}

.burger-menu-icon-active {
    right: -30px !important;
    top: -5px;
    transition: all 0.15s ease-in-out;

    .burger-menu-icon__line {
        width: 30px !important;
        height: 4px !important;
    }
}

.how-section {
    position: relative;
    width: 100%;
    height: calc(542px - 130px);
    padding-top: 130px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
}

.how-section__title {
    color: #0E243A;
    margin-top: 10px;
    text-align: center;
}

.how-section__steps-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 65px;
}

.how-section__step {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.how-section__text {
    color: #0E243A;
    width: 250px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

}

.cost-section {
    width: calc(100% - 260px);
    height: 601px;
    padding: 0px 130px 0px 130px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.cost-section__title-wrapper {
    position: relative;
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.cost-section__title {
    position: relative;
    text-align: center;
    color: #0E243A;
}

.cost-section__text {
    position: relative;
    width: 436px;
    height: fit-content;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #0E243A;
    opacity: 0.8;
}

.cost-section__data-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cost-section___subscription-wrapper {
    position: relative;
    width: 422px;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-top: 8px;
    z-index: 1;
}

.subscription-line-wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.subscription-line {
    position: relative;
    width: 500px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.subscription-title {
    position: relative;
    color: #0E243A;
}

.subscription-text {
    position: relative;
    width: 500px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #0E243A;
}

.subscription-price {
    position: relative;
    font-weight: 700;
    font-size: 36px;
    line-height: 110%;
    color: #0E243A;
    margin-top: 8px;
}

.subscription-conditions {
    position: relative;
    width: 345px;
    height: 63px;
    margin-top: 4px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: #0E243A;
    opacity: 0.8;
}

.green-long-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 35px;
    gap: 10px;

    position: relative;
    width: 224px;
    height: 48px;

    background: #39B54A;
    border-radius: 10px;
    border: none;
    outline: none;
}

.green-long-button__text {
    position: relative;
    width: 154px;
    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;
}

.get-subscription-button {
    margin-top: 4px;
}

.cost-section__image {
    position: relative;
    width: 720px;
    height: 481px;
}

.partners-section {
    position: relative;
    width: calc(100% - 260px);
    height: fit-content;
    padding: 57px 130px 20px 130px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 143px;
}

.partners-section__image {
    position: relative;
    width: 500px;
    height: 500px;
}

.partners-section__data-wrapper {
    position: relative;
    width: 500px;
    height: fit-content;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-top: 17px;
}

.partners-section__title {
    color: #0E243A;
}

.partners-section__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #0E243A;
    opacity: 0.8;
}

.be-partner-button {
    width: 201px;
    margin-top: 7px;
}

/* ADAPTATION STARTS HERE */

@media only screen and (max-width: 1270px) { 
    
    .header {
        width: calc(100% - 84px);
        height: calc(660px - 31px);

        padding: 31px 42px 0px 42px;
        gap: 43px;
    }

    .header__main-image {
        width: 460px;
        height: auto;
    }

    .header-request-button {
        margin: 0;
    }

    .header__hero-wrapper {
        align-items: flex-start;
    }

    h1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 110%;
    }

    h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 110%;
    }

    h3 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 110%;
    }

    h4 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 110%;
    }

    h5 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 110%;
    }

    .how-section {
        height: calc(510px - 110px) ;
        width: calc(100% - 84px);
        padding: 110px 42px 0px 42px;
        gap: 64px;
    }

    .how-section__steps-wrapper {
        gap: 60px;
        justify-content: center;
    }

    .how-section__text {
        width: 174px;
    }

    .how-section__step {
        gap: 24px;
    }

    .cost-section {
        width: calc(100% - 92px);
        height: 601px;
        padding: 0px 46px 0px 46px;
    }

    .cost-section__title-wrapper {
        gap: 26px;
    }

}

@media only screen and (max-width: 1024px) { 

    .header__hero-text-wrapper {
        gap: 30px;
        margin-top: 103px;
    }

    .know-more-button {
        margin-top: 2px;
    }
}

@media only screen and (max-width: 1020px) {  
  
    .header {
        width: calc(100% - 126px);
        height: calc(879px - 31px);

        padding: 31px 63px 0px 63px;
        gap: 43px;
    }

    .header__hero-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .header__hero-text-wrapper {
        align-items: center;
        margin-top: 56px;
        gap: 24px;
    }

    .header__title {
        width: 556px;
        text-align: center;
    }

    .header__text {
        text-align: center;
        width: 510px;
    }

    .know-more-button {
        margin-top: 8px;
    }

    .header__buttons-wrapper {
        display: none;
    }

    .header__burger-menu {
        display: flex;
    }

    h1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 110%;
    }

    h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 110%;
    }

    h3 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 110%;
    }

    h4 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 110%;
    }

    h5 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 110%;
    }

    .how-section {
        width: calc(100% - 128px);
        height: fit-content;
        padding: 54px 64px 50px 64px;
    }

    .how-section__step {
        gap: 20px;
    }

    .how-section__text {
        width: 285px;
    }

    .how-section__steps-wrapper { 
        gap: 64px;
    }

    .cost-section__data-wrapper {
        flex-direction: column-reverse;
    }

    .cost-section {
        width: calc(100% - 128px);
        height: fit-content;
        padding: 50px 64px 0px 64px;
        gap: 20px;
    }

    .cost-section__image {
        width: 640px;
        height: 427px;
    }

    .cost-section___subscription-wrapper {
        align-items: center;
        margin: 0;
    }

    .cost-section__data-wrapper {
        gap: 24px;
    }

    .subscription-line-wrapper {
        width: fit-content;
    }

    .subscription-line {
        width: fit-content;
        margin-left: 65px;
        height: 24px;
    }

    .subscription-text {
        width: 400px;
    }

    .subscription-price {
        margin-top: 28px;
    }

    .subscription-conditions {
        margin-top: -6px;
        text-align: center;
    }

    .get-subscription-button {
        margin: 0;
    }
}

@media only screen and (max-width: 767px) {  
    .header__hero-text-wrapper {
        width: 100%;
    }

    .header__title {
        width: 100%;
    }

    .header__title-br {
        display: none;
    }

    .header__text {
        width: 100%;
    }

    .cost-section__image {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 568px) { 
    .header__main-image {
        display: none;
    }

    .header__mobile-main-image {
        display: block;
    }

    .header {
        height: calc(910px - 31px);
    }
}


@media only screen and (max-width: 460px) { 

    .header {
        width: calc(100% - 20px);
        height: calc(760px - 28px);

        padding: 28px 10px 0px 10px;
        gap: 43px;
    }

    .header__logo {
        width: 168px;
        height: 26px;
        margin-top: 0px;
    }

    .burger-menu-icon__line {
        width: 24px;
        height: 3px;
    }

    #burger-menu-icon-line-1 {
        width: 17.6px;
    }

    .line-hover-active {
        width: 24px !important;
    }

    .header__hero-text-wrapper {
        margin-top: 19px;
        gap: 12px;
    }

    .header__title {
        line-height: 125%;
        font-size: 28px;
        width: 300px;
    }

    .header__text {
        line-height: 150%;
        font-size: 14px;
        width: 270px;
    }

    .know-more-button {
        margin-top: 14px;
    }

    h1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 110%;
    }

    h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 110%;
    }

    h3 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 110%;
    }

    h4 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 110%;
    }

    h5 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 110%;
    }

    .burger-menu-icon-active {
        right: 18px !important;
        top: 0;

        .burger-menu-icon__line {
            width: 24px !important;
            height: 3px !important;
        }
    }

    .how-section {
        width: calc(100% - 20px);
        height: fit-content;
        padding: 80px 10px 50px 10px;
        gap: 40px;
    }

    .how-section__title {
        margin-top: 3px;
    }

    .how-section__text {
        text-align: center;
        font-size: 15px;
        line-height: 140%;

    }

    .how-section__steps-wrapper {
        gap: 50px;
    }

    .how-section__step {
        gap: 20px;
        align-items: center;
    }

    .cost-section {
        width: calc(100% - 20px);
        height: fit-content;
        padding: 54px 10px 50px 10px;
        gap: 10px;
    }

    .cost-section__title-wrapper {
        gap: 16px;
    }

    .cost-section__text {
        width: 300px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-align: center;

        color: #0E243A;
        opacity: 0.8;
    }

    .cost-section__image {
        width: calc(100% + 20px);
    }

    .cost-section__data-wrapper {
        gap: 33px;
    }

    .subscription-line-wrapper {
        height: fit-content;
    }

    .cost-section___subscription-wrapper {
        gap: 20px;
    }

    .subscription-line {
        width: 246px;
        height: fit-content;
        align-items: flex-start;
        margin: 0;
    }

    .subscription-text {
        width: 214px;
        height: fit-content;
    }

    .subscription-price {
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 110%;
        color: #0E243A;
        margin-top: 22px;
    }

    .subscription-conditions {
        width: 300px;
    }

    .get-subscription-button {
        margin-top: 6px;
    }
}
